.nav__container {
     width: 100%;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: var(--background-color-search);
     position: sticky;
     top: 0;
     box-shadow: 0 .5px .5px rgba(0, 0, 0, 0.1);
     z-index: 1000;
     /* Добавлено для тени */
          padding: 12px 70px;
}


.nav__logo {
     display: flex;
     align-items:start;
     justify-content:start;
}
.nav__logo > svg {
     color:var(--text-color);
     font-size: 43px;
     margin-top: 2px;
}

.nav__logo > h1 {
     color: var(--text-color);
     font-size: 33px;
     font-weight: bold;
     font-family: "Montserrat-Bold";
}
.nav__a__links {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
}
.nav__a__link {
     width: 150px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
     color: var(--text-color);          font-size: 17px;
          border-radius: 12px;
          transition: .5s ease;
          gap: 5px;
          font-weight: 400;
}
.nav__a__link > svg ,.nav__a__link__user > svg {
     font-size: 26px;
     color: var(--text-color);}
.nav__a__link:hover {
     background-color: var(--hover--nav);
     
}
.nav__a__link__user {
          width: 45px;
     height: 45px;     display: flex;
     align-items: center;
     justify-content: center;
     border: solid .5px var(--hover--nav);
          border-radius: 12px;}


.nav__a__link__sale {
     display: flex;
     align-items: center;
     width: 140px;
          height: 45px;
     font-size: 16px;
     font-weight: bold;
     color: #ffffff;
     text-align: center;
     justify-content: center;
     text-decoration: none;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 50px;
     background: linear-gradient(90deg, #32CD32 0%, #1E90FF 100%);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: background 0.3s ease, box-shadow 0.3s ease;
     gap: 10px;
}



.nav__a__link__sale:hover {
     background: linear-gradient(90deg, #28a745 0%, #007bff 100%);
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.nav__a__link__sale:active {
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav__a__icon {
     width: 27px;
     height: 27px;
     display: flex;
     align-items: center;
     justify-content: center;
          border-top-right-radius: 50px;
               border-bottom-right-radius: 50px;
               border-top-left-radius: 50px;
               background-color: white;
                    color:rgb(36, 163, 123) ;
                    font-size: 19px;
                    font-weight: bold;
               
}

/* Стиль для активной ссылки */
.nav__a__link.active {
     background-color: var(--active-nav);

}